<div class="container" style="margin-top:60px;">
  <div class="page-header">
    <h1><i class="fa fa-shopping-cart fa-lg"></i>　カート</h1>
  </div>

  <form class="form-horizontal">

    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>商品</th>
            <th>価格</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% amount = 0 %>
          <% @baskets.each do |basket| %>
            <tr>
            <td>
            <div class="row">
              <div class="col-md-4">
                <%= img_tag basket.item.image_path, width: 100, class: "img-responsive img-rounded" %>
              </div>
              <div class="col-md-8">
                <%= basket.item.name %>
              </div>
            </div>
            </td>
            <td><%= number_to_currency(basket.item.price, :format => "%u%n", :unit => "￥", precision: 0) %></td>
            <td><%= basket.number %></td>
            <td>
            <% amount += (basket.item.price * basket.number) %>
            <%= number_to_currency((basket.item.price * basket.number), :format => "%u%n", :unit => "￥", precision: 0) %></td>
            <td>
              <%= link_to "/baskets/#{basket.id}?tour=#{@app_tour.code}&participant=#{@participant}", method: :delete, data: { confirm: 'この商品を削除します。よろしいですか？' } do %>
              <i class="fa fa-trash-o"></i> 削除
              <% end %>
            </td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <td colspan="3"><p class="pull-right">合計金額</p></td>
            <td><%= number_to_currency(amount, :format => "%u%n", :unit => "￥", precision: 0) %></td>
            <td></td>
          </tr>
        </tfoot>

      </table>
    </div>

    <fieldset>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= link_to "/shopping/#{@app_tour.code}/#{@participant}", :class => 'btn btn-default btn-sm' do %>
            <i class="fa fa-arrow-left"></i> 商品一覧へ戻る
          <% end %>

          <%= link_to "/tours/#{@app_tour.code}/seluser", :class => 'btn btn-default btn-sm' do %>
            <i class="fa fa-minus-circle"></i>　お買い物をやめる
          <% end %>

          <div class="pull-right">
            <%= link_to "/baskets/#{@app_tour.code}/order/#{@participant}", :class => 'btn btn-danger btn-sm' do %>
              <i class="fa fa-check"></i> <strong>注文を確定する</strong>
            <% end %>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

</div>



