<div class="container" style="margin-top:60px;">

<div class="page-header">
  <div class="title page_title"><span class="glyphicon glyphicon-calendar"></span> マイスケジュール</div>  
</div>

<ul class="pager">
  <% today = Date.today %>
  <% prevday = @from_date - 7.days %>
  <% nextday = @to_date + 1.day %>
  <li class="previous">
    <a href="/myschedule/<%= prevday.year %>/<%= prevday.month %>/<%= prevday.day %>/<%= @app_user.id %>"><i class="fa fa-arrow-left"></i> 前へ</a>
  </li>
  <li><a href="/myschedule/<%= today.year %>/<%= today.month %>/<%= today.day %>/<%= @app_user.id %>">今日</a></li>
  <li class="next">
    <a href="/myschedule/<%= nextday.year %>/<%= nextday.month %>/<%= nextday.day %>/<%= @app_user.id %>">次へ <i class="fa fa-arrow-right"></i></a>
  </li>
</ul>

<div class="table-responsive">

  <table class="table table-bordered">
    <thead>
      <tr>
        <% (@from_date..@to_date).each do |date| %>
          <th style="width:14%" class="<%= wday_color_class(date) %> text-center"><%= date.strftime('%-m月%-d日') %> (<%= wday_tag(date) %>)</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% (@from_date..@to_date).each do |date| %>
          <td class="<%= today_class(date) %>" style="padding:2px;">
            <% @events[date].each do |event| %>
              <div class="schedule event">
                <span class="title title_sm"><%= event.display_event %></span>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>

      <tr>
        <% (@from_date..@to_date).each do |date| %>
          <td class="<%= today_class(date) %>" style="padding:2px;">
            <div class="text-left"><a href="/schedules/<%= date.year %>/<%= date.month %>/<%= date.day %>/<%= @app_user.id %>/new"><span class="title_lg glyphicon glyphicon-plus-sign"></span></a></div>

            <% Schedule.display_cultivar(date, @app_user.id).each do |t| %>
              <div class="schedule cultivar title">
                <span class="label label-primary" class="text-left"><%= t.store.name rescue nil %></span>
                <a href="/schedules/<%= t.id %>/edit" class="btn btn-link btn-xs"><%= t.cultivar.name %> <span class='sum'><%= t.amount %></span> <%= t.cultivar.unit %></a>
              </div>
            <% end %>
          </td>

        <% end %>
      </tr>
    </tbody>

  </table>
</div>

<% if false %>
<ul class="pager">
  <li><a href="/schedules/<%= today.year %>/<%= today.month %>/<%= today.day %>"><i class="fa fa-users"></i> 直売所スケジュール</a></li>
</ul>
<% end %>

</div>

<style type="text/css">
.table {
  min-width: 640px;
  table-layout: fixed;
  word-wrap: break-word;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > thead > tr > td, 
.table-responsive > .table > tbody > tr > td {
  white-space: normal; 
}
.schedule {
  padding: 2px;
  margin:3px;
  border-radius: 5px;
}
.event {
  background-color: #F7F7F7;  
}
.cultivar {
  background-color: #F0FFF0;
  text-align: left;  
}
.btn {
  text-align: left;
  white-space: normal;
}
</style>