<div class="container" style="margin-top:60px;">

<div class="page-header">
  <h1><%= @date.strftime("%-m月%-d日")%> 出荷予定一覧</h1>
  <a href="/schedules/<%= @date.year %>/<%= @date.month %>/<%= @date.day %>" class="btn btn-default"><i class="fa fa-users"></i> 直売所スケジュールに戻る</a>

</div>

<fieldset>
  <% @cultivars.each do |cultivar| %>

  <div class="list-group">
    <a href="#" class="list-group-item active title">
      <span><%= cultivar.name %></span>
      <span class="pull-right" style="font-size:110%"><%= raw "#{@cultivar_sums[cultivar.id].first.sum}#{cultivar.unit}" rescue nil %></span></a>

    <% if @schedules && @schedules[cultivar.id] %>
      <% @schedules[cultivar.id].each do |schedule| %>

        <a href="/schedules/<%= schedule.id %>/edit" class="list-group-item">
          <span><%= schedule.producer.name rescue nil %>:</span>
          <span><%= schedule.amount %></span>
          <span style="font-size: 90%"><%= cultivar.unit %></span></a>

      <% end %>
    <% else %>
      <a href="#" class="list-group-item"><span>出荷予定なし</span></a>
    <% end %>
  </div>
  
<% end %>

</fieldset>
</div>