<div class="container" style="margin-top:60px;">
　 <div class="page-header" style="vertical-align:middle">
    <span class="title page_title"><span class="glyphicon glyphicon-map-marker"></span> ツアー一覧 </span>
    <%= link_to new_tour_path, :class => 'btn btn-default btn-xs' do %>
      <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="tour">
      <tbody>
          <% @tours.each do |tour| %>
            <tr>
                <th class="arrow_box"><%= tour.name %>
                  <span class="pull-right">
                  <%= link_to edit_tour_path(tour), class: "btn btn-default btn-xs" do %>
                    <span class="glyphicon glyphicon-pencil text-left"></span>
                  <% end %>
                  <%= link_to tour, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                  </span>
                </th>
                <td>
                  <span style="font-size:200%">
                    <%= link_to "/tours/#{tour.id}/seluser" do %>
                      <i class="fa fa-arrow-right"></i>
                    <% end %>
                  </span>
                </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>