<div class="container" style="margin-top:60px;">
　 <div class="page-header">
    <span class="page_title"><i class="fa fa-suitcase"></i> ツアー一覧</span>
    <%= link_to new_tour_path, :class => 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span> 新規登録
    <% end %>
  </div>

  <div class="row">
    <%= content_tag_for(:div, @tours, class: "col-md-4 col-sm-6") do |tour| %>
      <div class="panel panel-info">
        <div class="panel-heading"><span class="title_lg"><%= tour.name %></span>
          <span class="pull-right" style="font-size:80%">
          <%= link_to edit_tour_path(tour), class: "btn btn-default btn-xs" do %>
            <span class="glyphicon glyphicon-pencil text-left"></span>
          <% end %>
          <%= link_to tour, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
          </span>
        </div>
        <div class="panel-body">
          <p>説明</p>
        </div>
        <ul class="list-group">
          <li class="list-group-item text-center">
            <%= link_to "/tours/#{tour.id}/seluser", class: "btn btn-success btn-sm" do %>
              <i class="fa fa-shopping-cart"></i> お買いもの画面へ
            <% end %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>