<div class="container" style="margin-top:60px;">

<div class="page-header">
  <h1><%= @tour.name %>のご注文状況</h1>
</div>

<div class="table-responsive">
  <% if @orders.blank? %>
    <h5>ご注文はありません</h5>
  <% else %>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>お客様番号</th>
          <th>ご注文金額</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @orders) do |order| %>
          <td><%= order.user_id %></td>
          <td><%= number_to_currency(order.amount, :format => "%u%n", :unit => "￥", precision: 0) %></td>
          <td><%= link_to '詳細', order %></td>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div style="margin: 10px 0;">
  <%= link_to tours_path, :class => 'btn btn-primary' do %>
    <i class="fa fa-arrow-circle-left"></i> 戻る
  <% end %>
</div>
</div>