<div class="container" style="margin-top:60px;">

  <div class="page-header">
    <span class="page_title"><span class="glyphicon glyphicon-tag"></span> 商品情報</span>
  </div>

  <form class="form-horizontal">
　　  <p class="text-info" id="notice"><%= notice %></p>

　 <fieldset>
    <div class="form-group">
      <label for="#" class="col-lg-2 control-label">コード</label>
      <div class="col-lg-10">
        <%= @item.code %>
      </div>
    </div>

    <div class="form-group">
      <label for="#" class="col-lg-2 control-label">品目</label>
      <div class="col-lg-10">
        <%= @item.cultivar.name rescue nil %>
      </div>
    </div>

    <div class="form-group">
      <label for="#" class="col-lg-2 control-label">名前</label>
      <div class="col-lg-10">
        <%= @item.name %>
      </div>
    </div>

    <div class="form-group">
      <label for="#" class="col-lg-2 control-label">単価</label>
      <div class="col-lg-10">
        <%= number_to_currency(@item.price, :format => "%u%n", :unit => "￥", precision: 0) %>
      </div>
    </div>

    <div class="form-group">
      <label for="#" class="col-lg-2 control-label">説明</label>
      <div class="col-lg-10">
        <%= hbr @item.try(:description) %>
      </div>
    </div>

    <div class="form-group">
      <label for="#" class="col-lg-2 control-label">生産者</label>
      <div class="col-lg-10">
        <%= @item.producer.name rescue nil %>
      </div>
    </div>

    <div class="form-group">
      <label for="#" class="col-lg-2 control-label">収穫日</label>
      <div class="col-lg-10">
        <%= @item.harvested_at.strftime('%Y/%m/%d') if @item.harvested_at %>
      </div>
    </div>

    <div class="form-group">
      <label for="#" class="col-lg-2 control-label">単位</label>
      <div class="col-lg-10">
        <%= @item.unit %>
      </div>
    </div>

    <div class="form-group">
      <label for="#" class="col-lg-2 control-label">画像</label>
      <div class="col-lg-10">
        <%= img_tag @item.image_path, width: 360, class: "img-responsive img-rounded" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= link_to items_path, :class => 'btn btn-default' do %>
          <i class="fa fa-arrow-left"></i>  商品一覧へ戻る
        <% end %>
        <%= link_to edit_item_path(@item), :class => 'btn btn-primary' do %>
          <i class="fa fa-pencil"></i> 変更する
        <% end %>
      </div>
    </div>

    </fieldset>
  </form>

</div>
