<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "OYasai" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>

  </head>
  <body>


    <%= yield %>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="fa fa-leaf fa-lg"></i> OYasai</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style="font-size:80%">
            <% today = Date.today %>
            <% if @app_store %>
              <li class="<%= 'active' if @nav_active == 'Schedule' %>">
                <a href="/schedules/<%= today.year %>/<%= today.month %>/<%= today.day %>/<%= @app_store.id %>">スケジュール</a></li>
              <li class="<%= 'active' if @nav_active == 'Event' %>"><a href="/events">イベント</a></li>
              <li class="<%= 'active' if @nav_active == 'Cultivar' %>"><a href="/cultivars">品目</a></li>
              <li class="<%= 'active' if @nav_active == 'User' %>"><a href="/users">ユーザー</a></li>
              <!-- <li class="<%= 'active' if @nav_active == 'Tour' %>"><a href="/tours">TOUR</a></li> -->
              <!-- li class="<%= 'active' if @nav_active == 'Item' %>"><a href="/items">ITEM</a></li -->
            <% end %>

            <% if @app_user %>
              <li class="<%= 'active' if @nav_active == 'Schedule' %>">
                <a href="/myschedule/<%= today.year %>/<%= today.month %>/<%= today.day %>/<%= @app_user.id %>">スケジュール</a></li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav pull-right">
            <% if @app_store %>
              <li><a href="#"><i class="fa fa-users"></i> <%= @app_store.name %></a></li>
            <% end %>
            <% if @app_user %>
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= @app_user.name %>さん</a></li>
            <% end %>
            <% if @participant %>
              <li><a href="#">お客様番号: <%= @participant %></a></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    
    <%= yield(:page_javascript) if content_for?(:page_javascript) %>
  </body>
</html>
